* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header and style */
.header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
}

.banner {
    position: relative;
    height: 808px;
    width: 1600px;
}

.banner-item {
    position: absolute;
    /* border: 5px solid yellow; */
    height: 100px;
    right: 0px;
    top: 216px;
    width: 525px;
    text-align: right;
    margin-right: 230px;
}

.banner-item .banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-btn {
    height: 64px;
    border-radius: 5px;
    border: 0;
    color: #005FAC;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
}

/* Main section style */
main {
    width: 1600px;
    /* margin-top: 130px; */
}


/* My failures style */
.my-failures {
    display: flex;
    max-width: 1072px;
    margin: 0 auto;
    margin-top: 130px;
    align-items: center;
    gap: 87px;

}

.my-failures img {
    width: 1072px;
    height: 723.3px;
}

.my-failures-title {
    font-weight: 700;
font-size: 40px;
    color: #151414;
    width: 288px;
    margin-bottom: 24px;
}

.my-failures-container ul {
    list-style: none;
}

.my-failures-container ul li:before {
    content: '✓ ';
    color: #16D887;
}

.my-failures-container ul li{
    color: #444343;
    font-size: 18px;
}

.my-failures-description {
    font-weight: 400;
    font-size: 18px;
    color: #444343;
    margin-bottom: 16px;
}