* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header and style */
.header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    width: 1600px;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    max-width: 1072px;
    margin: 0 auto;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    color: #f3f3f3;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 51px;
    color: #fefefe;
    font-size: 24px;
}

/* banner styles */
.primary-btn {
    height: 64px;
    border-radius: 5px;
    border: 0;
    color: #005FAC;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
}

.banner-container {
    margin-right: 230px;

    display: flex;
    height: 808px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.banner-item {
    width: 525px;
    text-align: right;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #ffffff;
    margin-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 32px;
}

.header-btn {
    margin-bottom: 130px;
}

/* Main section style */
main {
    width: 1600px;
    /* margin-top: 130px; */
}


/* My failures style */
.my-failures {
    display: flex;
    max-width: 1072px;
    margin: 0 auto;
    margin-top: 130px;
    align-items: center;
    gap: 87px;
}

.my-failures img {
    width: 1072px;
    height: 723.3px;
}

.my-failures-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    width: 288px;
    margin-bottom: 24px;
}

.my-failures-container ul {
    list-style: none;
}

.my-failures-container ul li:before {
    content: '✓ ';
    color: #16D887;
}

.my-failures-container ul li {
    color: #444343;
    font-size: 18px;
}

.my-failures-description {
    font-weight: 400;
    font-size: 18px;
    color: #444343;
    margin-bottom: 16px;
}

/* About me design */
.about {
    border-radius: 10px;
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;
    margin-bottom: 50px;
}

.section-description {
    color: #757575;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 16px;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    color: #757575;
}

/* My Plans Section styles */

.my-plan {
    max-width: 1141px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}

.my-plan-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
}

.my-plan-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.my-plan-items img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.plan-item-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 16px;
    text-align: center;
}

.plan-item-description {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-top: 16px;
}

/* second banner style */
.second-banner {
    margin-bottom: 130px;
}

.second-banner-container {
    max-width: 1140px;
    background-image: url(../images/watch.png), url(../images/gradient1.png);
    background-blend-mode: overlay;
    height: 300px;
    margin: 0 auto;
}

.second-banner-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    width: 560px;
    padding: 60px 0px 24px 65px;
}

.second-banner-btn {
    margin-left: 65px;
}

/* Footer Design */
.footer-container {
    width: 1600px;
    height: 577px;
    background: #151414;
    color: #f8f8f8;
    display: flex;
}

.footer-info {
    padding: 130px 230px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-contact {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social {
    display: flex;
    gap: 18px;
}

.subscription {
    margin: 130px 230px;
    width: 325px;
    height: 204px;
}

.subscription-title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 31px;
}

.subscription-input {
    background: #151414;
    color: #f3f3f3;
    margin-bottom: 16px;
}

input[type=text],
select {
    width: 325px;
    padding: 12px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.footer-btn {
    height: 64px;
    border-radius: 5px;
    border: 0;
    color: #FFFFFF;
    background-color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
}