* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header and style */
.header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat; 
}

.banner {
    position: relative;
    height: 808px;
    width: 1600px;
}

.banner-item {
    position: absolute;
    /* border: 5px solid yellow; */
    height: 100px;
    right: 0px;
    top: 216px;
    width: 525px;
    text-align: right;
    margin-right: 230px;
}

.banner-item .banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-btn {
    height: 64px;
    border-radius: 5px;
    border: 0;
    color: #005FAC;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
}